.main__nav{
  height: 65px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main__nav_logo{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main__nav_nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__nav_nav h2{
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #48555B;
}
.main__nav{
  border-bottom: 1px solid #48555B;
}